#item{
    margin-top: 40px;
    min-height: 100px;

}
#itempost{
    margin-top: 40px;
    min-height: 200px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;

}

.body{
    background-color: black;
}
.input{
    display: flexbox; justify-content: center;align-items: center;
    width: 70%;
    padding-top: 15px;
    
  }

Paper{
    min-height: 60px;
}

.nav-link{
    color: black;
}
.nav-link:hover{
    color: #34eb90;
}


.nav-link.active {
    color: white !important;
    background-color: #34eb90 !important;
  }



